[mysqld]
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
general_log=ON
log_output=FILE
general_log_file=~/git/github.com/isuconhq/suburi8-ruby/docker/mariadb/queries.log
